services:
  backend:
    build: ./backend
    container_name: "fullstack-item-backend"
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: "fullstack-item-frontend"
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=
    depends_on:
      - backend
    restart: unless-stopped
